diffusers==0.26.3
einops==0.7.0
geopandas==0.14.2
matplotlib==3.6.2
nestargs==1.1.0
numpy==1.26.3
omegaconf==2.3.0
pandas==2.0.3
Pillow==10.0.1
prodict==0.8.18
PyYAML==6.0.1
segmentation_models_pytorch==0.3.3
timm==0.9.16
torch==1.13.0
torchgeometry==0.1.2
torchinfo==1.7.0
torchvision==0.14.0
tqdm==4.64.0
wandb==0.13.9
xarray==2024.1.0
